/* body {
  background:
    linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)),
    url(https://raw.githubusercontent.com/hari7261/VideoTalk/main/painting-mountain-lake-with-mountain-background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

* {
  margin: 0;
  padding: 0;
}

 */

body {
  background:
    linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)),
    url('https://raw.githubusercontent.com/hari7261/VideoTalk/main/painting-mountain-lake-with-mountain-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

* {
  margin: 0;
  padding: 0;
}


* {
  margin: 0;
  padding: 0;
}
