body {
  background:
    linear-gradient(rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)),
    url(https://raw.githubusercontent.com/hari7261/VideoTalk/main/painting-mountain-lake-with-mountain-background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  body {
    background-size: contain;
  }
}
